---
title: Logging & Visualization
nav_order: 60
---

<!-- Add your site or application content here -->
<h1>Octoparts</h1>

<section>
<h2>What's this?</h2>
<p>Octoparts is an API request aggregation service. It works as a middleware between your frontend and backend services, taking care of request parallelization, response caching, fault tolerance and performance visualization.</p>
<p>Octoparts is implemented in Scala, making heavy use of the <a href="https://github.com/Netflix/Hystrix">Hystrix</a> library.</p>
</section>
